button {
  cursor: pointer;
}

#root { 
  width: 100%;
  height: 100%;
}

.App {
  max-width: 1100px;
  padding: 0 1em;
  margin: 0 auto;
  height: 100%;
}

.Home { 
  font-size: medium;
}

.Home-menu { 
  padding: 1em;
  font-weight: 500;
  display: flex;
  text-align: right;
  flex-direction: column;
}

.Home-menu-item {
  padding: 0 0.5em;
}

.Home-hero { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.Home-hero-header {
  font-size: large;
  text-align: center;
}

.Home-hero-title {
  font-weight: bolder;
}

.Home-hero-sub { 
  max-width: 500px;
}

.Home-hero-content { 
  max-width: 500px;
}

.Home-steps-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.Home-step { 
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5em;
}

.Home-step-image-container {
  padding: 0 2em;
  width: 50%;
}

.Home-step-image { 
  box-shadow: #eaeaea 0px 0px 10px;
  width: 100%;
}

.Home-step-info { 
  flex: 1;
}

@media (max-width: 550px) { 
  .Home-step {
    flex-direction: column;
  }
  .Home-step-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    width: auto;
  }
  .Home-step-image {
    width: 70%;
  }
}
.Home-action-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5em;
}

.Home-action-header {
  font-size: large;
}

.Home-faq-container {
  max-width: 700px;
  margin: 0 auto;
}

.Home-faq-header {
  font-size: large;
}

.Home-faq-title {
  text-align: center;
}

.Home-btn { 
  font-size: large;
  padding: 0.5em 1em;
  height: auto;
  font-weight: 500;
}

.Full-Screen-Loading-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.Sign-in-root { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Sign-in-header-and-form { 
  max-width: 500px;
  font-size: large;
}

.Sign-in-header { 
  text-align: center;
}

.Sign-in-header-title {
  font-weight: bolder; 
}

.Sign-in-form-submit-btn {
  font-size: large;
  font-weight: bold;
  width: 100%;
  height: auto;
}

.Sign-in-success-container { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Sign-in-success { 
  max-width: 500px;
  font-size: large;
  text-align: center;
}

.Sign-in-success-title {
  font-weight: bolder; 
}

.Me-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
  padding: 1em 0 2em;
}

.Me-header-logo {
  margin-bottom: 0;
}

.Me-header-logo-link {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bolder;
}

.Me-header-menu-item {
  font-weight: 500;
  padding: 0.5em;
  margin: 0 0.5em;
  background: transparent;
}

.Me-header-menu-item.active {
  background: rgba(0, 0, 0, 0.04);
}

@media (max-width: 650px) { 
  .Me-header-logo {
    display: none;
  }
  .Me-header-menu-item { 
    /* padding: 0; */
    margin: 0;
  }
}

.Empty-journals {
  padding: 1em; 
  margin: 0 auto;
  font-size: medium;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Journal-entries-container {
  max-width: 700px;
  margin: 0 auto;
}

.Journal-entry-container { 
  margin-bottom: 1em;
  font-size: medium;
  padding-bottom: 1em;
  border-bottom: 1px solid #e0e0e0;
}

.Journal-entry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #f8f8f8;
}

.Journal-entry-header-title {
  margin-bottom: 0;
}

.Journal-upsell-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.Journal-upsell-btn {
  font-size: medium;
  padding: 0.5em 2em;
  height: auto;
  font-weight: 500;
}

.Account-container { 
  font-size: medium;
  max-width: 700px;
  margin: 0 auto;
}

.Account-membership-container, .Account-delete-container {
  margin-bottom: 2em;
}

.Account-upgrade-btn {
  font-size: medium;
  padding: 0.5em 1em;
  height: auto;
  font-weight: 500;
}

.Profile-container {
  max-width: 700px;
  margin: 0 auto;
  font-size: medium;
}

.Profile-groups-container {
  margin-bottom: 1em;
}

.Profile-group-header {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Profile-group {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #e0e0e0;
}

.Profile-group-header-title { 
  font-weight: bold;
  margin-bottom: 0;
}

.Profile-group-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Profile-group-user-title {
  margin-bottom: none;
}

.Profile-create-group-content {
  margin-bottom: 1em;
}

.Profile-schedule-reminder-date {
  color: blue;
}