{:paths ["server" "resources"]
 :deps {nilenso/mailgun {:mvn/version "0.2.3"}
        com.google.firebase/firebase-admin {:mvn/version "6.14.0"}
        jarohen/chime {:mvn/version "0.3.2"}
        io.aviso/logging {:mvn/version "0.3.2"}}
 :aliases {:socket
           {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]}
           :uberjar
           {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]
            :extra-deps
            {seancorfield/depstar {:mvn/version "1.0.94"}}
            :main-opts ["-m" "hf.depstar.uberjar"]}}}