{:paths ["server" "resources"]
 :deps {com.google.firebase/firebase-admin {:mvn/version "6.14.0"}
        com.google.cloud/google-cloud-logging-logback {:mvn/version "0.118.0-alpha"}
        org.clojure/tools.trace {:mvn/version "0.7.10"}
        compojure/compojure {:mvn/version "1.6.1"}
        io.aviso/logging {:mvn/version "0.3.2"}
        jarohen/chime {:mvn/version "0.3.2"}
        nilenso/mailgun {:mvn/version "0.2.3"}
        ring/ring {:mvn/version "1.8.0"}
        ring/ring-json {:mvn/version "0.5.0"}}
 :aliases {:socket
           {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]}
           :uberjar
           {:extra-deps
            {seancorfield/depstar {:mvn/version "1.0.94"}}
            :main-opts ["-m" "hf.depstar.uberjar"]}}}
